@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
 .fplinks {
 	padding-top: 15px;
 }

ul {
	list-style-type: none;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(0, 153, 230, 0.70);

}

li {
    float: left;
    display: inline;
}

li a {
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 14px 50px;
    text-decoration: bold;
}

.fbicon {
	padding-left: 350px;
	margin: 0;
}

.fptext {
	color: white;
	border: none;
	text-align: justify;
	column-count: 2;
}

body {
	font-family: 'Amatic SC', cursive;
}

.apieh1 {
  color: white;
  font-size: 60px;
}

p {
  color: #000099;
  font-size: 30px;
  border: 1px solid black;
  margin: 20px;
  background: rgba(0, 153, 230, 0.60);
  padding: 10px;
}

th {
  border: 5px solid red;
  border-collapse: collapse;
  background-color: rgba(255, 204, 102, 0.40);
}

td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
}

td {
  text-align: center;
}

table {
  border-spacing: 0px;
}

