@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Cabin');
 .fplinks {
 	padding-top: 15px;
 }

ul {
	list-style-type: none;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(0, 153, 230, 0.70);
}

li {
    float: left;
    display: inline;
}

li a {
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 30px 50px;
    text-decoration: bold;
}

/*Active button shows your direction at menu*/
a.active {
    background-color: rgb(80, 191, 251);
    color: white;
}

/*Active button when mouse is on*/
li a:hover:not(.active) {
    background-color: rgb(80, 191, 251);
    color: white;
}

.fbicon {
	padding-left: 350px;
	margin: 0;
}

.fpparagraph {
  font-family: 'Cabin', sans-serif;
	color: white;
	border: none;
	text-align: justify;
	column-count: 2;
  column-gap: 30px;
  background: rgba(0, 153, 230, 0.60);
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

body {
	font-family: 'Amatic SC', cursive;
}

.apieh1 {
  color: white;
  font-size: 60px;
}

.apieh1 {
  color: #000099;
  
  border: 1px solid black;
  margin: 20px;
  
}

th {
  border: 5px solid red;
  border-collapse: collapse;
  background-color: rgba(255, 204, 102, 0.40);
}

td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
}

td {
  text-align: center;
}

table {
  border-spacing: 0px;
}

