table
 th {
	border: 5px solid red;
	border-collapse: collapse;
	background-color: rgba(255, 204, 102, 0.40);
}
td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding:15px;
}
td {
	text-align: center;
}
table {
	border-spacing:0px;
}